---
language: php
dist: trusty

php: 7.1

addons:
  chrome: stable

cache:
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"

matrix:
  include:
    - name: "Static analysis"
      env: ORCA_FIXTURE=none
    - name: "Isolated test"
      env: ORCA_FIXTURE=sut-only
    - name: "Integrated test"
      env: ORCA_FIXTURE=standard

install:
  - "git clone --depth 1 git@github.com:acquia/orca.git ../orca"
  - "../orca/bin/travis/install 8.x-1.x"

script: "../orca/bin/travis/script drupal/example"
