/.idea/workspace.xml
/.idea/dictionaries/*
!/.idea/dictionaries/orca.xml
/.idea/php.xml
/.idea/sonarlint/*
/src/Console/Command/Dev/WipCommand.php
/var/*
/vendor
!/**/.gitkeep
/.phpunit
/cghooks.lock
/phpcs.xml
/phpunit.xml
.idea/codeStyles/codeStyleConfig.xml
/.phpunit.cache