<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="Drupal">
        <exclude name="Drupal.Commenting.FunctionComment.MissingReturnComment"/>
        <exclude name="Drupal.Commenting.InlineComment.InvalidEndChar"/>
        <exclude name="Drupal.Commenting.InlineComment.SpacingAfter"/>
        <exclude name="Drupal.Files.LineLength.TooLong"/>
        <exclude-pattern>src/Kernel.php</exclude-pattern>
    </rule>

    <file>bin/</file>
    <file>src/</file>

</ruleset>
