<?xml version="1.0" encoding="UTF-8"?>

<!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset -->
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>

  <arg name="basepath" value="."/>
  <arg name="cache" value="var/.phpcs-cache"/>
  <arg name="colors"/>
  <arg name="extensions" value="php"/>
  <arg name="parallel" value="10"/>

  <rule ref="Drupal">
    <exclude name="Drupal.Commenting.FunctionComment.MissingReturnComment"/>
    <exclude name="Drupal.Commenting.InlineComment.InvalidEndChar"/>
    <exclude name="Drupal.Commenting.InlineComment.SpacingAfter"/>
    <exclude name="Drupal.Files.LineLength.TooLong"/>
  </rule>

  <config name="testVersion" value="7.1-"/>
  <rule ref="PHPCompatibility"/>

  <file>bin/</file>
  <file>src/</file>

  <exclude-pattern>*/vendor/*</exclude-pattern>

</ruleset>
