parameters:

  fileExtensions:
    - engine
    - inc
    - install
    - module
    - profile
    - theme

  autoload_directories:
    - %currentWorkingDirectory%/docroot/modules
    - %currentWorkingDirectory%/docroot/profiles
    - %currentWorkingDirectory%/docroot/themes
    - %currentWorkingDirectory%/vendor/acquia

  excludes_analyse:
    # @see DG-22629
    - %currentWorkingDirectory%/docroot/modules/contrib/acsf/tests/AcsfEventsTest.php
    - %currentWorkingDirectory%/docroot/modules/contrib/acsf/acsf_init/lib/cloud_hooks/common/pre-web-activate/000-acquia-deployment.php

    # @see PF-1879
    - %currentWorkingDirectory%/docroot/modules/contrib/acquia_lift/tests/src/Unit/Polyfill/Drupal.php
    - %currentWorkingDirectory%/docroot/modules/contrib/acquia_lift/tests/src/Unit/Service/Context/PageContextTest.php
    - %currentWorkingDirectory%/docroot/modules/contrib/acquia_lift/tests/src/Unit/Service/Helper/HelpMessageHelperTest.php
    - %currentWorkingDirectory%/docroot/modules/contrib/acquia_lift/tests/src/Unit/Service/Helper/SettingsHelperTest.php

    # @see https://www.drupal.org/project/devel/issues/3104094
    - %currentWorkingDirectory%/docroot/modules/contrib/devel/kint/kint/examples/overview.php

    # @see https://www.drupal.org/project/libraries/issues/3039243
    # @see https://www.drupal.org/project/libraries/issues/2882709
    - %currentWorkingDirectory%/docroot/modules/contrib/libraries/src/*

  ignoreErrors:
    # @see https://github.com/acquia/orca/issues/27
    - '#Call to deprecated method registerFile\(\) of class Doctrine\\Common\\Annotations\\AnnotationRegistry#'

includes:
  - %currentWorkingDirectory%/vendor/mglaman/phpstan-drupal-deprecations/deprecation_testing.neon
