---
# An array of company software package data. Each package datum is keyed by its
# package name, i.e., the "name" property in its composer.json file, e.g.,
# "drupal/example", and has a corresponding array value that may contain the
# following key-value pairs:
# - "type": (optional) The package type, corresponding to the "type" property in
#   its composer.json file. The most common types are these:
#   - "drupal-module": A Drupal module. (default)
#   - "drupal-theme": A Drupal theme.
#   - "drupal-profile": A Drupal installation profile.
#   - "drupal-drush": Drush commands.
#   - "drupal-library": A Drupal library.
#   - "project-template": A Composer project template.
#   - "library": Anything else installed in the "vendor" directory.
# - "install_path": (optional) The path the package gets installed at relative
#   to the fixture root, e.g., docroot/modules/contrib/example.
#   Used internally for Drupal subextensions. Defaults by "type" to match the
#   "installer-paths" patterns specified by the root Composer project.
# - "url": (optional) The path, absolute or relative to the root of a local
#   clone of the package. Used for the "url" property of the Composer path
#   repository used to symlink the system under test (SUT) into place. Defaults
#   to a directory adjacent to the fixture root named the Composer project name,
#   e.g., "../example" for a "drupal/example" project.
# - "version": (optional) The recommended package version to require via
#   Composer. Defaults to "*". Any version string Composer understands is
#   acceptable. @see https://getcomposer.org/doc/articles/versions.md A null
#   value (~) causes the package to be omitted.
# - "version_dev": (optional) The dev package version to require via Composer.
#   Defaults to "*@dev". Any version string Composer understands is acceptable.
#   @see https://getcomposer.org/doc/articles/versions.md A null value (~)
#   causes the package to be omitted.
# - "core_matrix": (optional) An array of package version mappings. Each mapping
#   is keyed by a Drupal core version constraint, e.g., "8.7.x", with a value of
#   an associative array optionally containing either or both of the "version"
#   and "version_dev" key-value pairs to be used when the corresponding Drupal
#   core version constraint is satisfied. Mappings are processed in order, and
#   the first match wins.
#   @see \Acquia\Orca\Tests\Fixture\PackageTest::testConditionalVersions
# - "enable": (optional) Whether to enable the extension in Drupal. Defaults to true for
#   modules but can be overridden. Anything else is always false and cannot be
#   overridden.
# - "is_company_package": (optional) Whether package is a company package
#   or not. Defaults to "true" but can be overridden. Anything else is
#   always false and cannot be overridden.
#
# These are converted to \Acquia\Orca\Fixture\Package objects by
# \Acquia\Orca\Fixture\PackageManager. A different specification can be
# substituted at runtime using the "ORCA_PACKAGES_CONFIG" environment variable
# or merged in using the "ORCA_PACKAGES_CONFIG_ALTER" environment variable. See
# config/services.yml for the relevant code or bin/self-test for a usage
# example.

# ORCA-576: ACMS was temporarily removed on 10/24/2023 due to a patch failure.
#acquia/acquia_cms:
#  core_matrix:
#    10.1.x:
#      version: ~
#      version_dev: ~
#    '*':
#      version: 2.x
#      version_dev: 2.x-dev

drupal/acquia_connector:
  version: 4.x
  version_dev: 4.x-dev

# ORCA-629: Contenthub was temporarily removed on 06/11/2023 due to an outage.
# drupal/acquia_contenthub:
#   core_matrix:
#     10.1.x:
#       version: ~
#       version_dev: ~
#     '*':
#       version: 3.0.x
#       version_dev: 3.0.x-dev

drupal/acquia_perz:
  version: 4.x
  version_dev: 4.x-dev

drupal/acquia_purge:
  version: 1.x
  version_dev: 1.x-dev

drupal/acsf:
  version: 2.x
  version_dev: ~

drupal/acsf_sso:
  enable: false
  version: 2.x
  version_dev: ~

drupal/acquia_search:
  version: 3.1.x
  version_dev: 3.1.x-dev

acquia/coding-standards:
  type: phpcodesniffer-standard
  url: ../coding-standards-php

acquia/drupal-environment-detector:
  type: library

acquia/drupal-minimal-project:
  type: project-template

acquia/drupal-recommended-project:
  type: project-template

acquia/drupal-spec-tool:
  type: behat-extension
  core_matrix:
    10.x:
      version: 6.x
      version_dev: 6.x-dev
    '*':
      version: 5.x
      version_dev: 5.x-dev

acquia/memcache-settings:
  type: library

drupal/mautic:
  core_matrix:
    10.x:
      version: ~
      version_dev: ~
    '*': []

drupal/media_acquiadam:
  core_matrix:
    8.9.x:
      version: 1.x
      version_dev: 1.x-dev
    '*':
      version: 2.x
      version_dev: 2.x-dev

drupal/acquia_dam:
  core_matrix:
    '10.2.0-beta1':
      version: ~
      version_dev: ~
    '*':
      version: 1.x
      version_dev: 1.0.x-dev

drupal/mysql56:
  type: library
  core_matrix:
    '~9.0.0-beta3 || 9.1.* || 9.2.*':
      version: '*'
      version_dev: '*'
    '*':
      version: ~
      version_dev: ~

drush/drush:
  is_company_package: false
  core_matrix:
    9.x:
      version: 11.x
      version_dev: 11.x
    '*':
      version: 12.x
      version_dev: 12.x-dev

# Acquia CMS uses drupal-test-traits as a dev dependency.
# @todo remove this via ORCA-298
weitzman/drupal-test-traits:
  is_company_package: false
  version: '*'
  version_dev: '*'

phpspec/prophecy-phpunit:
  is_company_package: false
  version: 2.x
  version_dev: 2.x
