---
parameters:

  # Environment variables for dynamic configuration override:
  env(ORCA_AMPLITUDE_API_KEY): ~
  env(ORCA_AMPLITUDE_USER_ID): ~
  env(ORCA_FIXTURE_DIR): "%app.fixture_dir%"
  env(ORCA_PACKAGES_CONFIG): config/packages.yml
  env(ORCA_PACKAGES_CONFIG_ALTER): ~
  env(ORCA_PHPCS_STANDARD): "AcquiaDrupalTransitional"
  env(ORCA_TELEMETRY_ENABLE): false

services:

  _defaults:
    autoconfigure: true
    autowire: true
    bind:
      $amplitude_api_key: "%env(ORCA_AMPLITUDE_API_KEY)%"
      $amplitude_user_id: "%env(ORCA_AMPLITUDE_USER_ID)%"
      $default_phpcs_standard: "%env(ORCA_PHPCS_STANDARD)%"
      $fixture_dir: "%env(ORCA_FIXTURE_DIR)%"
      $packages_config: "%env(ORCA_PACKAGES_CONFIG)%"
      $packages_config_alter: "%env(ORCA_PACKAGES_CONFIG_ALTER)%"
      $telemetry_is_enabled: "%env(bool:ORCA_TELEMETRY_ENABLE)%"
    public: true

  Acquia\Orca\:
    exclude: ../src/Kernel.php
    public: false
    resource: ../src

  Acquia\Orca\Helper\Filesystem\FixturePathHandler:
    arguments:
      $base_path: "%env(ORCA_FIXTURE_DIR)%"

  Acquia\Orca\Helper\Filesystem\OrcaPathHandler:
    arguments:
      $base_path: "%kernel.project_dir%"

  Composer\Config: ~

  Composer\Package\Version\VersionGuesser: ~

  Composer\Semver\VersionParser: ~

  Composer\Util\ProcessExecutor: ~

  Env:
    class: Env

  Symfony\Component\Console\Application: ~

  Symfony\Component\Console\Input\ArgvInput: ~

  Symfony\Component\Console\Input\InputInterface:
    alias: Symfony\Component\Console\Input\ArgvInput

  Symfony\Component\Console\Output\ConsoleOutput: ~

  Symfony\Component\Console\Output\OutputInterface:
    alias: Symfony\Component\Console\Output\ConsoleOutput

  Symfony\Component\Console\Style\SymfonyStyle: ~

  Symfony\Component\Filesystem\Filesystem: ~

  Symfony\Component\Yaml\Parser: ~

  Zumba\Amplitude\Amplitude: ~
