---
parameters:

  # Environment variables for dynamic configuration override:
  env(ORCA_GOOGLE_API_CLIENT_ID) : ~
  env(ORCA_GOOGLE_API_CLIENT_SECRET): ~
  env(ORCA_GOOGLE_API_REFRESH_TOKEN): ~
  env(ORCA_COVERAGE_CLOVER): "%app.project_dir%/var/coverage/clover.xml"
  env(ORCA_COVERAGE_COBERTURA): "%app.project_dir%/var/coverage/cobertura.xml"
  env(ORCA_FIXTURE_DIR): "%app.fixture_dir%"
  env(ORCA_JUNIT_LOG): "%app.project_dir%/var/junit/junitLog.xml"
  env(ORCA_PACKAGES_CONFIG): config/packages.yml
  ORCA_PACKAGES_CONFIG: "%env(ORCA_PACKAGES_CONFIG)%"
  env(ORCA_PACKAGES_CONFIG_ALTER): ~
  env(ORCA_PHPCS_STANDARD): "AcquiaDrupalTransitional"
  env(ORCA_PHPUNIT_DEBUG_MODE_ENABLE): "false"
  env(ORCA_TELEMETRY_ENABLE): "false"
  env(ORCA_IS_ALLOWED_FAILURE): "%env(ORCA_IS_ALLOWED_FAILURE)%"

services:

  _defaults:
    autoconfigure: true
    autowire: true
    bind:
      $google_api_client_id: "%env(ORCA_GOOGLE_API_CLIENT_ID)%"
      $google_api_client_secret: "%env(ORCA_GOOGLE_API_CLIENT_SECRET)%"
      $google_refresh_token: "%env(ORCA_GOOGLE_API_REFRESH_TOKEN)%"
      $clover_coverage: "%env(ORCA_COVERAGE_CLOVER)%"
      $cobertura_coverage: "%env(ORCA_COVERAGE_COBERTURA)%"
      $default_phpcs_standard: "%env(ORCA_PHPCS_STANDARD)%"
      $fixture_dir: "%env(ORCA_FIXTURE_DIR)%"
      $junit_log: "%env(ORCA_JUNIT_LOG)%"
      $packages_config: "@=container.getParameter('ORCA_PACKAGES_CONFIG') === '' ? 'config/packages.yml' : parameter('ORCA_PACKAGES_CONFIG')"
      $packages_config_alter: "%env(ORCA_PACKAGES_CONFIG_ALTER)%"
      $telemetry_is_enabled: "%env(bool:ORCA_TELEMETRY_ENABLE)%"
    public: true

  Acquia\Orca\:
    public: true
    resource: ../src
    exclude:
      - ../src/Domain/Package/Package.php
      - ../src/Enum
      - ../src/Options/FixtureOptions.php
      - ../src/Options/CiRunOptions.php
      - ../src/Event/CiEvent.php

  Acquia\Orca\Helper\Filesystem\FixturePathHandler:
    arguments:
      $base_path: "%env(ORCA_FIXTURE_DIR)%"

  Acquia\Orca\Helper\Filesystem\OrcaPathHandler:
    arguments:
      $base_path: "%app.project_dir%"

  Composer\Console\Application: ~

  Composer\Semver\VersionParser: ~

  Env\Env:
    class: Env\Env

  Symfony\Component\Console\Application: ~

  Symfony\Component\Console\Input\ArgvInput: ~

  Symfony\Component\Console\Input\InputInterface:
    alias: Symfony\Component\Console\Input\ArgvInput

  Symfony\Component\Console\Output\ConsoleOutput: ~

  Symfony\Component\Console\Output\OutputInterface:
    alias: Symfony\Component\Console\Output\ConsoleOutput

  Symfony\Component\Console\Style\SymfonyStyle: ~

  Symfony\Component\Filesystem\Filesystem: ~

  Symfony\Component\Yaml\Parser: ~

  Symfony\Contracts\HttpClient\HttpClientInterface:
    factory: ['Symfony\Component\HttpClient\HttpClient', 'create']

  Symfony\Component\EventDispatcher\EventDispatcher: ~