---
parameters:
  env(ORCA_DRUPAL_CORE_VERSION): ~
  env(ORCA_FIXTURE_DIR): "%app.fixture_dir%"
  env(ORCA_PACKAGES_CONFIG): "config/packages.yml"

services:

  _defaults:
    autoconfigure: true
    autowire: true
    bind:
      $drupal_core_dev_version: "8.6.x-dev"
      $drupal_core_version: "%env(ORCA_DRUPAL_CORE_VERSION)%"
      $fixture_dir: "%env(ORCA_FIXTURE_DIR)%"
      $project_dir: "%kernel.project_dir%"
      $packages_config: "%env(ORCA_PACKAGES_CONFIG)%"
    public: true

  Acquia\Orca\:
    exclude: ../src/Kernel.php
    public: false
    resource: ../src

  Symfony\Component\Console\Application: ~

  Symfony\Component\Console\Input\ArgvInput: ~

  Symfony\Component\Console\Input\InputInterface:
    alias: Symfony\Component\Console\Input\ArgvInput

  Symfony\Component\Console\Output\ConsoleOutput: ~

  Symfony\Component\Console\Output\OutputInterface:
    alias: Symfony\Component\Console\Output\ConsoleOutput

  Symfony\Component\Console\Style\SymfonyStyle: ~

  Symfony\Component\Filesystem\Filesystem: ~

  Symfony\Component\Yaml\Parser: ~
